﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <%-- TODO: point MediaSource to a valid media file --%>
        <asp:MediaPlayer id="MediaPlayer1" runat="server" MediaSource="~/movie.wmv" Width="640px" Height="480px" AutoPlay="true" />
    </div>
    </form>
</body>
</html>
