﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DeviceStreamFieldsPill.ascx.cs" Inherits="Controls_DeviceStreamFieldsPill" %>
<div class="pill"><asp:Literal runat="server" ID="pill"/></div>