﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DeviceTypeIconAndStatus.ascx.cs" Inherits="Controls_DeviceTypeIconAndStatus" %>
<div class="dtis"><asp:Literal runat="server" ID="dtic"/><asp:ImageButton ID="imgck" runat="server" CssClass="dtis_icon_status_up" AlternateText="" OnClick="imgck_Click" /></div>