<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ImageCheckBox.ascx.cs" Inherits="ImageCheckBox" %>

<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
			<asp:ImageButton ID="imgbFilteredField" runat="server" OnClick="imgbFilteredField_Click" /></td>
    </tr>
</table>
