﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InfoFloatingBalloon.ascx.cs" Inherits="Controls_InfoFloatingBalloon" %>
<asp:panel id="pnlLock" runat="server" cssclass="LockDiv">
	<table cellpadding="2" cellspacing="2" style="width: 100%; height: 90px; text-align: center;">
		<tr>
			<td style="height: 100%;">
				<asp:label id="lblMsg" runat="server" forecolor="White"></asp:label></td>
		</tr>
	</table>
</asp:panel>
