﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LayeredIcon.ascx.cs" Inherits="Controls_LayeredIcon" %>
<div id="cont" runat="server">
    <asp:Image ID="imsk" runat="server" GenerateEmptyAlternateText="true" EnableViewState="False" />
    <asp:Image ID="iadd" runat="server" GenerateEmptyAlternateText="true" EnableViewState="False" />
</div>
