﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VirtualObjectWeight.ascx.cs"
    Inherits="Controls_VirtualObjectWeight" %>
<div runat="server" id="vowc" EnableViewState="False"><asp:Literal runat="server" ID="vowd" EnableViewState="False"/></div>
