﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VirtualObjectHeaderDevPanel.ascx.cs"
    Inherits="Controls_VirtualObjectHeaderDevPanel" %>
<%@ Register TagPrefix="gris" TagName="VirtualObjectWeight" Src="~/Controls/VirtualObjectWeight.ascx" %>
<div style="width: 60px; height: 25px; padding-top: 7px;" runat="server" id="vohdp">
    <gris:VirtualObjectWeight runat="server" ID="imgWeight" VirtualObjectWeightIconType="VistaGrafica" />
</div>
