﻿div.gauge div.band {
	margin-left: 14px;
	margin-right: 6px;
}

div.gauge div.Update {
	height: 100px;
	margin-top: 16px;
	margin-bottom: 24px;
	position: relative;
}

div.gauge div.upRed div {
	background-color: red;
}

div.gauge div.upYellow div {
	background-color: yellow;
}

div.gauge div.upGreen {
	padding-bottom: 1px;
}

div.gauge div.upGreen div {
	background-color: green;
}

div.gauge div.downGreen {
	padding-top: 1px;
}

div.gauge div.downGreen div {
	background-color: green;
}

div.gauge div.downYellow div {
	background-color: yellow;
}

div.gauge div.downRed div {
	background-color: red;
}

div.gauge img {
	text-align: left;
	vertical-align: middle;
	position: absolute;
	z-index: 10;
	left: 3px;
}