﻿body
{
    background-color: Black;
    font-family: Arial;
}

.Header
{
    background-image: url(../Images/head_bg.gif);
    background-repeat: repeat-x;
    height:100px;
}

.SubHeader
{
    background-image: url(../Images/nav_shadow_bg.gif);
}

.Middle
{
    background-color: #4c4c4c;
}

.Footer
{
    background-image: url(../Images/foot_bg.gif);
    font-weight: bold;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    background-repeat: repeat-x;
}

.Toolbar, .ToolbarButtonToggleOff, .ToolbarButtonToggleOn, .ToolbarTitle
{
    background-image: url(../Images/nav_bg.gif);
    height: 30px;
    background-repeat: repeat-x;
}

.ToolbarButton
{
    color: White; 
    border-style:none; 
    background-color: Transparent;	
}

.ToolbarButtonToggleOff, .ToolbarButtonToggleOn
{
    width: 200px; 
    text-align: center; 
    color: White; 
    border-right: solid 1px black;
}

.ToolbarButtonToggleOn
{
    background-image: url(../Images/riepilogo_bg.gif); 
    background-repeat: repeat-x;
}

.ToolbarTitle
{
    text-align: center; 
    color: Black; 
    font-size: 10pt;
    font-weight: bold;
}

.SubToolbar
{
    background-image: url(../Images/nav_shadow_bg.gif); 
    height: 21px; 
    background-repeat: repeat-x;	
}

.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

.autocomplete_completionListElement 
{
    visibility : hidden;
    margin : 0px!important;
    background-color : white;
    color : windowtext;
    border : buttonshadow;
    border-width : 1px;
    border-style : solid;
    cursor : default;
    overflow : auto;
    height : 300px;
    text-align : left; 
    list-style-type : none;
    font-size:9pt;
    min-width:270px;
}

.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: black;
    padding: 1px;
    cursor:pointer;
    font-size:9pt;
}

.autocomplete_listItem 
{
    background-color : window;
    color : windowtext;
    padding : 1px;
    font-size: 9pt;
}

.autocomplete_norows
{
    text-align: right; 
    padding-right: 5px; 
    display: none;
    color: White;
    font-size:8pt;
    font-family:Arial;
    overflow: visible;
    white-space:nowrap;
}

/* Textbox Watermark */

.watermarked 
{
    margin-top: 5px;
    border-style: none;
    color:gray;
    background-color: White;
}

/* GETA */

.BoxGoToNode
{ 
    margin-top: 5px;
    background-color:Transparent;
    border-style: none;
}

.noDecorationLink
{
    text-decoration: none;
}

.selectableField
{
    color: black;
    font-family: Arial;
    text-decoration: none;
}

.navigationLink
{
    font-weight: bold;
    color: white;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
}

.gridHeader, .grisIssueHeader
{
    color: White; 
    white-space: nowrap; 
    text-align: center; 
    font-weight: bold;
}

.grisIssueHeader
{
    padding-left: 5px;
    text-align: left;		
}

.gridItem
{
    text-align: left; 
    white-space: nowrap; 
    font-size: 12px;
}

.issueHeader
{
    color: White; 
    font-family: Arial;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.menu_link
{
    color: White;
    text-decoration: none;
}

.menu_link2
{
    color: White;
    text-decoration: none;
    margin-right: 5px;
}

.pager_button
{
    position: relative;
    top: 5px;
}

.target_infos_titlebar
{
    color: White;
    font-size: smaller;
}

.hrStyle
{
    color: #4c4c4c;
    height: 1px;
    border: 1px;
}



.activity_none table td.sx 
{
    height: 30px; width: 20px;
    background: url(../Images/inter_no_sx.gif);    
}

.activity_open table td.sx
{
    height: 30px; width: 20px;
    background: url(../Images/inter_open_sx-1.gif);   
}

.activity_none table td.dx, 
    .activity_open table td.dx
{
    height: 30px; width: 20px;
    background: url(../Images/inter_no_dx.gif);   
}

.activity_none table td.body,
    .activity_open table td.body 
{
    height: 30px; 
    background: url(../Images/inter_no_bg.gif);
}

.activity_none table td.body a,
    .activity_open table td.body a
{
    font-weight: bold; color: white; font-family: Arial;
    font-size: 14px; text-decoration: none;
}

.activity_close table td.sx
{
    height: 30px; width: 20px;
    background: url(../Images/inter_ok_sx.gif);   
}

.activity_close table td.dx     
{
    height: 30px; width: 20px;
    background: url(../Images/inter_ok_dx.gif);   
}

.activity_close table td.body    
{
    height: 30px; 
    background: url(../Images/inter_ok_bg-1.gif);
}

.activity_close table td.body a
{
    font-weight: bold; color: Black; font-family: Arial;
    font-size: 14px; text-decoration: none;
}

.group_close div
{
    font-weight: bold; color: #B8AA51; font-family: Arial;
    font-size: 14px; text-decoration: none;
}

.group_open div
{
    font-weight: bold; color: White; font-family: Arial;
    font-size: 14px; text-decoration: none;
}