<%@ Page Language="c#" Inherits="Edulife.Presentation.Web.Pages.ExcelTransfer" CodeFile="ExcelTransfer.aspx.cs" %>

<html>
<head>
    <title>ExcelTransfer</title>
    <meta http-equiv="CONTENT-TYPE" content="application/vnd.ms-excel" />
</head>
<body>
    <form id="frmExcelTransfer" method="post" runat="server">
    </form>
</body>
</html>
