﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GetaCheckBox.ascx.cs" Inherits="GetaCheckBox" %>
<asp:label id="lblDescription" runat="server"></asp:label>
<asp:imagebutton id="imgCheck" runat="server" imageurl="~/Images/flag_off.gif" 
	alternatetext="No" onclick="imgCheck_Click" />
