﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="NoPermissions.aspx.cs" Inherits="NoPermissions" Title="Untitled Page" %>

<asp:Content ID="cntMainArea" ContentPlaceHolderID="cphMainArea" Runat="Server">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 1200px; text-align: center">
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0" style="height: 100%; width: 100%">
                    <tr>
                        <td class="ToolbarTitle">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="SubToolbar">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;">E' necessario possedere permessi di utilizzo dell' applicazione<br /><br /><br /></td>
        </tr>
    </table>
</asp:Content>

