﻿div.gauge div.downGreen div
{
    background-color: #027D08;
}

div.gauge div.downYellow div
{
    background-color: #FC9B00;
}

div.gauge div.downRed div
{
    background-color: #E50D00;
}
