﻿body{background-color:#000;font-family:Arial}
.Header{background-image:url(../IMG/interfaccia/head_bg.gif);background-repeat:repeat-x;height:100px}
.SubHeader{background-image:url(../IMG/interfaccia/nav_shadow_bg.gif)}
.menuLink{color:#FFF;font-family:Arial;font-weight:600;font-size:9pt;text-decoration:none;padding-right:5px;padding-left:5px;display:block;}
.lblSystemDesc{font-weight:bold;color:white;font-family:Arial;font-size:16px;padding-right:5px;padding-left:5px;text-align:right;}
.OfflineMessage{width:800px;white-space:nowrap;display:inline;overflow:hidden;text-overflow:ellipsis;}
.Middle{background-color:#4c4c4c;}
.Footer{background-image:url(../IMG/interfaccia/foot_bg.gif);font-weight:bold;color:Black;font-family:Arial;font-size:12px;background-repeat:repeat-x;}
.LblT, .LblToff, .LblT1, .LblT2, .LblTSTLC, .LblTMM, .LblTACK, .LblTOK{font-weight:bold;color:white;font-family:'Arial';font-size:11pt;width:20%;}
.LblT{width:20%;text-align:left;padding-left:5px;}
.LblToff{width:20%;}
.LblTMM{width:20%;}
.LblC, .LblC1, .LblC2, .LblCoff, .LblCACK, .LblCSTLC, .LblCMM, .LblCOK{font-weight:bold;color:White;font-family:'Arial';font-size:11pt;font-style:italic;width:20%;border-bottom:solid 1px #4c4c4c;}
.LblC{width:20%;text-align:left;padding-left:5px;}
.LblCEmpty{border-bottom:solid 1px #4c4c4c;width:10%;}
.LblC1{color:Yellow;}
.LblC2{color:Red;}
.LblCoff{width:10%;color:Silver;}
.LblCACK{color:Blue;}
.LblCSTLC{color:Silver;}
.LblCMM{color:Blue;}
.LblCOK{color:#22B14C;}
.ListViewHeader{text-align:left;color:White;}
.ListViewHeader a{text-decoration:none;}
.GridViewHeader2{font-size:14pt;color:Black;text-decoration:none;font-family:Arial;}
.GridViewRow, .GridViewRowSelected{padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;vertical-align:middle;padding-top:0px;text-align:left;text-decoration:none;background-color:#4d4d4d;font-size:10pt;color:white;font-family:Arial;}
.GridViewRowSelected{background-color:#808080;}
.GridViewTemplate{border-top-style:none;border-right-style:none;border-left-style:none;position:static;text-decoration:none;border-bottom-style:none;vertical-align:middle;}
.GridViewSchematicoTesto{font-size:14pt;text-decoration:none;border-top-style:none;border-right-style:none;border-left-style:none;position:static;border-bottom-style:none;vertical-align:middle;font-family:Arial;}
.GridViewLeftPadding{padding-left:5px;}
.LinkBtnGO{color:White;text-decoration:none;}
.lblStazioneIcon{font-size:100%;vertical-align:middle;color:white;font-family:Arial;text-align:center;text-decoration:none;padding-left:5px;}
.divStazioneIcon{width:30px;height:30px;border:solid 1px black;}
.PanelStazioniIcon{vertical-align:top;text-align:center;}
.italia_img_bg{position:absolute;top:0px;left:0px;z-index:0;}
.italia_img{position:absolute;top:0px;left:0px;z-index:1;}
.panelItalia{position:relative;width:1024px;height:738px;}
.PanelSchematico{width:1024px;height:640px;position:relative;}
.GaugeText{color:Silver;font-family:Arial;font-size:10pt;padding-left:5px;}
.GaugeLabel{color:White;font-weight:bold;font-family:Arial;}
.GaugeHeader{color:White;font-weight:bold;font-family:Arial;font-size:12pt;font-variant:small-caps;}
.GaugeDesc{color:#398DE5;}
.ImageCheckBoxLabel{color:White;font-weight:bold;font-family:Arial;}
.DevPanelType{color:White;font-family:Arial;font-size:10pt;}
.DevPanelDesc{color:White;font-family:Arial;font-size:14pt;}
.DevPanelLBL, .DevPanelContent{color:#c4c4c4;font-family:Arial;font-size:9pt;}
.DevPanelContent{color:Black;padding-left:2px;}
.DetailPanelTitolo, .DevPanelTitolo{font-size:12pt;color:White;font-weight:bold;font-family:Arial;vertical-align:text-top;padding-top:8px;}
.DevPanelTL{font-size:11pt;color:#ffffff;font-family:Arial;vertical-align:text-top;}
.DetailPanelValue{color:White;font-family:Arial;font-size:9pt;text-align:left;}
.DevPanelDiv{border-top:silver 1px solid;padding-top:10px;margin-top:5px;}
.DevPanelRackRow{width:80%;border-top:solid 1px silver;padding-top:5px;margin-top:5px;border-top-style:solid;border-top-color:#808080;}
.Tmessaggi{color:white;font-family:Arial;text-decoration:none;}
.messaggi{margin-left:10px;color:#398DE5;font-family:Arial;font-size:10pt;text-decoration:none;padding-bottom:4px;padding-top:4px;}
.Toolbar, .ToolbarButtonToggleOff, .ToolbarButtonToggleOn, .ToolbarTitle{background-image:url(../IMG/interfaccia/nav_bg.gif);height:30px;background-repeat:repeat-x;}
.ToolbarButton{color:White;border-style:none;background-color:Transparent;}
.ToolbarButtonToggleOff, .ToolbarButtonToggleOn{width:200px;text-align:center;color:White;border-right:solid 1px black;}
.ToolbarButtonToggleOn{background-image:url(../IMG/interfaccia/riepilogo_bg.gif);background-repeat:repeat-x;}
.ToolbarTitle{text-align:center;color:Black;font-size:10pt;font-weight:bold;}
.SubToolbar{background-image:url(../IMG/interfaccia/nav_shadow_bg.gif);height:21px;background-repeat:repeat-x;}
.ReportListHeader, .FunctionsListHeader{background-image:url(../IMG/interfaccia/perif_top.gif);background-repeat:no-repeat;height:30px;width:340px;background-color:#808080;font-family:Arial;text-align:left;color:White;font-weight:bold;}
.ReportListFooter{background-image:url(../IMG/interfaccia/perif_bot.gif);width:340px;background-repeat:no-repeat;height:25px;}
.ReportListSubHeader{background-image:url(../IMG/interfaccia/riepilogo_bg.gif);padding:5px;background-repeat:repeat-x;font-family:Arial;text-align:left;color:#808080;}
.ReportListLinks{width:100%;font-family:Arial;text-align:left;color:white;padding:7px;background-color:#808080;}
.ReportListLink{color:white;text-decoration:none;}
.ReportViewerStyle{padding:5px;}
.CertificationRowSeparator{border-bottom-color:#4c4c4c;border-bottom-style:solid;border-bottom-width:1px;}
.ModalBackground{filter:alpha(opacity=70);background-color:gray;opacity:0.7;}
.deleteConfirm{background-color:White;padding:10px;width:370px;text-align:center;color:#000000;font-family:Arial;font-size:9pt;}
.confirmButton{font-size:8pt;color:#000000;font-family:Verdana;text-decoration:none;padding:1px;width:60px;}
.LockDiv{background-image:url(../IMG/interfaccia/messaggio_bg.gif);width:250px;height:120px;position:absolute;background-repeat:no-repeat;}
.LockDivText{color:White;}
.BoxGoToNode, .watermarked{margin-top:5px;background-color:Transparent;border-style:none;}
.watermarked2{color:gray;padding-top:1px;background-color:Transparent;border-style:none;width:100%;}
.hrStyle{color:#808080;height:1px;border:1px;}
.hiddenServerControl{display:none;visibility:hidden;}
.autocomplete_completionListElement{width: 500px;margin:0px !important;background-color:#d3d3d3;color:windowtext;border:buttonshadow;border-width:1px;border-style:solid;cursor:default;overflow:auto;height:300px;text-align:left;list-style-type:none;z-index:1000;font-size:9pt;min-width:340px;}
.autocomplete_highlightedListItem{background-color:#68bfef;color:black;padding:4px;border-bottom-color:White;border-bottom-style:solid;border-bottom-width:1px;cursor:pointer;font-size:9pt;}
.autocomplete_listItem{background-color:#d3d3d3;color:black;padding:4px;border-bottom-color:White;border-bottom-style:solid;border-bottom-width:1px;}
.autocomplete_norows{text-align:right;padding-right:5px;display:none;font-family:Arial;font-size:7.5pt;white-space:nowrap;}
.watermarked{color:gray;}
.blueTableHeaders a{color:#68bfef;text-decoration:none;}
.ContextMenuPanel{border:1px solid #868686;z-index:1000;background:#E3E3E3;cursor:default;padding:1px 1px 0px 1px;font-size:11px;}
.ContextMenuBreak{margin:1px 1px 1px 32px;padding:0;height:1px;overflow:hidden;display:block;border-top:1px solid #C5C5C5;}
a.ContextMenuItem{margin:1px 0 1px 0;display:block;color:#000000;text-decoration:none;cursor:pointer;padding:4px 19px 4px 19px;white-space:nowrap;}
a.ContextMenuItem-Selected{font-weight:bold;}
a.ContextMenuItem:hover{background-color:#808080;color:#FFFFFF;border:1px solid #4C4C4C;padding:3px 18px 3px 18px;}
.SelectedRule, .SelectedRule_Short{display:block;float:left;width:380px;font-family:Arial;font-size:10pt;height:30px;background:url(../IMG/interfaccia/sfondo_combo.gif) no-repeat;padding-left:20px;margin:0px;cursor:pointer;}
.SelectedRule_Short{width:180px;height:30px;background:url(../IMG/interfaccia/sfondo_combo_short.gif) no-repeat;}
.SelectedRuleDX{display:block;float:right;width:8px;font-family:Arial;font-size:10pt;height:30px;background:url(../IMG/interfaccia/sfondo_combo_dx.gif) no-repeat;padding-top:0px;padding-left:0px;margin:0px;cursor:pointer;}/**/.gris .ajax__tab_header{font-size:9pt;font-weight:bold;font-family:Arial;cursor:default;}
.gris .ajax__tab_active .ajax__tab_outer, .gris .ajax__tab_header .ajax__tab_outer, .gris .ajax__tab_hover .ajax__tab_outer{margin-right:4px;}
.gris .ajax__tab_active .ajax__tab_inner, .gris .ajax__tab_header .ajax__tab_inner, .gris .ajax__tab_hover .ajax__tab_inner{margin-left:12px;}
.gris .ajax__tab_active .ajax__tab_tab, .gris .ajax__tab_hover .ajax__tab_tab, .gris .ajax__tab_header .ajax__tab_tab{margin:0px;padding:8px 28px 8px 10px;height:32px;width:84px;}
.gris .ajax__tab_body{font-family:Arial;font-size:12pt;}
.gris-gray .ajax__tab_header{color:#fff;}
.gris-gray .ajax__tab_header span{color:#ffffff;}
.gris-gray .ajax__tab_outer{background:url(../IMG/interfaccia/gray_left.gif) no-repeat 0px 0px;}
.gris-gray .ajax__tab_inner{background:url(../IMG/interfaccia/gray_right.gif) no-repeat 100% 0px;}
.gris-gray .ajax__tab_hover .ajax__tab_outer{background:url(../IMG/interfaccia/gray_left.gif) no-repeat 0px -48px;cursor:pointer;}
.gris-gray .ajax__tab_hover .ajax__tab_inner{background:url(../IMG/interfaccia/gray_right.gif) no-repeat 100% -48px;}
.gris-gray .ajax__tab_active .ajax__tab_outer{background:url(../IMG/interfaccia/gray_left.gif) no-repeat 0px -96px;}
.gris-gray .ajax__tab_active .ajax__tab_inner{background:url(../IMG/interfaccia/gray_right.gif) no-repeat 100% -96px;}
.gris-gray .ajax__tab_body{border:solid 2px #4C4C4C;}
.gris-calendar .ajax__calendar_container{border:1px solid #C8C8C8;background-color:#EBEBEB;color:#000000;}
.gris-calendar .ajax__calendar_other .ajax__calendar_day, .gris-calendar .ajax__calendar_other .ajax__calendar_year{color:#000000;}
.gris-calendar .ajax__calendar_hover .ajax__calendar_day, .gris-calendar .ajax__calendar_hover .ajax__calendar_month, .gris-calendar .ajax__calendar_hover .ajax__calendar_year{color:#000000;}
.gris-calendar .ajax__calendar_active .ajax__calendar_day, .gris-calendar .ajax__calendar_active .ajax__calendar_month, .gris-calendar .ajax__calendar_active .ajax__calendar_year{color:#000000;font-weight:bold;}
.searchBox{background-image:url('../IMG/Interfaccia/search_bg.gif');background-repeat:repeat-x;width:250px;height:30px;}
.searchBoxSx{background:url('../IMG/Interfaccia/search_sx2.gif') no-repeat 0px 0px;width:30px;height:30px;}
.searchBoxSx:hover{background:url('../IMG/Interfaccia/search_sx2.gif') no-repeat 0px -30px;width:30px;height:30px;}
.searchBoxDx{background:url('../IMG/Interfaccia/search_dx2.gif') no-repeat 0px 0px;width:30px;height:30px;}
.searchBoxDx:hover{background:url('../IMG/Interfaccia/search_dx2.gif') no-repeat 0px -30px;width:30px;height:30px;}
.searchButton{cursor:pointer;background-color:Transparent;border-style:none;width:30px;}
.searchBoxText{height:20px;width:200px;margin-top:5px;background-color:Transparent;border-style:none;}
.pager_link{color:White;text-decoration:none;margin-right:3px;margin-left:3px;margin-top:0px;padding-top:0px;font-size:10pt;}
.pager_button{padding-top:10px;}
.labelBigBlack{font-family:Arial;font-size:11pt;color:#000000;text-align:right;}
.labelBigWhite{color:#ffffff;font-family:Arial;font-size:11pt;}
.gvRow{padding:0px;margin:0px;vertical-align:middle;text-align:left;text-decoration:none;background-color:#4d4d4d;font-size:10pt;color:white;font-family:Arial;}
.gvRow:hover{padding:0px;margin:0px;vertical-align:middle;text-align:left;text-decoration:none;background-color:#4d4d4d;font-size:10pt;color:#68BFEF;font-family:Arial;}
.adminTableLink a:link, .adminTableLink a:visited{color:White;}
.comp_img{position:absolute;left:0;top:0}
.comp_img_bg{position:absolute;left:0;top:0;z-index:0}
.panelCompartimento{height:740px;width:1024px;position:relative;margin-left:auto;margin-right:auto}
.selector{text-decoration:none;border:0}
.CompPanelMsg{height:100px;width:100%;padding-bottom:20px;padding-top:20px;color:#FFF;font-size:14pt;text-align:center;vertical-align:middle}
.updateProgress{visibility:hidden;width:48px;height:48px;border-style:none;background-image:url(../IMG/GrisLoading.gif);background-repeat:no-repeat;z-index:1000;}
.updateProgressImage{float:left;margin-left:0px;margin-top:0px;}
.nb{border:0px;padding:0px;border-collapse:collapse;}
.nb td{border:0px;padding:0px;}
.nb img{border:0px;padding:0px;display:block;}
.imgnb{border:0px;padding:0px;display:block;float:left;}
.hostname {padding-top: 6px; display: block;padding-left:3px;width:325px;}
.hostnamec {padding-top: 6px; display: block;cursor:pointer;text-decoration:none;padding-left:3px;width:325px;}
.hostnamec:hover{padding-top:1px;display:block;text-decoration:none;padding-left:3px;margin-top:5px;width:325px;background-image:url(../IMG/Interfaccia/bb325.png);background-repeat:no-repeat;color:#000000;}
.modalPopup{background-color:#9A9A9A;border-width:2px;border-style:solid;border-color:#9A9A9A;padding:3px;width:1160px;}
.ackgrid{border:none;border-collapse:collapse;}
.ackgridth{text-decoration:none;font-family:Arial;color:#0066CC;font-size:11pt;text-align:center;}
.ackgridth th{border:none;border-bottom:1px solid;border-color:#5A5A5A;}
.ackgridth a{text-decoration:none;}
.ackgridrow{font-family:Arial;color:#000;font-size:10pt;text-align:left;background-color:#9A9A9A;border:1px solid;border-color:#5A5A5A;}
.ackgridrow td{border:none;border-bottom:1px solid;border-color:#5A5A5A;}
.ackgridpager{font-family:Arial;color:#ffffff;font-size:10pt;text-align:left;background-color:#9A9A9A;font-weight:bold;}
.ackgridpager a{text-decoration:none;}
.groupsAndFormulasBox{font-size: 11pt;}
#tabs{height:520px;}
#tabs-1{height:450px;}
#tabs-2{height:450px;}
#divTree{float:left;width:240px;margin-top:5px;}
#divForm{float:left;width:560px;margin-top:5px;border-left:solid 1px white;padding:10px;height: 400px;}
.colorSelector{position:relative;width:36px;height:36px;background:url(../JS/colorpicker/images/select.png);margin: 0px auto;cursor:pointer;}
.colorSelector div{position:absolute;top:3px;left:3px;width:30px;height:30px;background:url(../JS/colorpicker/images/select.png) center;}
.selectedGroupNode{background-color:#004B66;color:#349CC5 !important}
.tooltip {background:url(../IMG/interfaccia/tooltip_arrow_bottom.png);display:none;color:#cbcbcb;font-size:11pt;padding-top:28px;height:35px;width:140px;text-align:center;}
.popupControl{background-color:#4c4c4c;position:absolute;visibility:hidden;border-right:#969696 1px solid;border-top:#969696 1px solid;border-left:#969696 1px solid;border-bottom:#969696 1px solid;}
#tooltip {position: absolute;z-index: 3000;border: 1px solid #000000;background-color: #afafaf;padding: 5px;color:#000000;font-family: Arial;}
#tooltip h3, #tooltip div { margin: 0;font-size: 10pt;font-weight:normal;}
.modalGrid{border:none;border-collapse:collapse;text-align:left;font-size:10pt;color:#ffffff;}
.modalGridTh{text-decoration:none;background-color:#afafaf;}
.modalGridTh th{border:none;}
.modalGridTh a{text-decoration:none;}
.modalGridRow{background-color:#4d4d4d;}
.modalGridRow td{border:none;}
.modalGridRowA{background-color:#333333;}
.modalGridRowA td{border:none;}
.modalGridPager{text-align:center;background-color:#afafaf;font-weight:bold;}
.modalGridPager a{text-decoration:none;}
.modalGridPager td{border:none;}
.popupMenu{background-color:transparent;position:absolute;visibility:hidden;width:167px;}
.popupMenuLnk{font-family:Arial;font-size:10pt;text-decoration:none;text-align:center;color:#ffffff;display:block;float:left;border-top:solid 1px #808080;padding-top:8px;padding-bottom:8px;width:157px;margin-left:5px;margin-right:5px;}
a.popupMenuLnk:first-child {padding-top:21px;border-top:none;}
.popupMenuLnk:hover {color:#68BFEF;}
.grdr{padding-right:0px;padding-left:0px;padding-bottom:0px;margin:0px;vertical-align:middle;padding-top:0px;text-align:left;text-decoration:none;font-size:10pt;color:white;font-family:Arial;}
.grdL{background-color:#4d4d4d;vertical-align:top;padding-top:6px;padding-bottom:6px;}
.grdD{background-color:#333333;vertical-align:top;padding-top:6px;padding-bottom:6px;}
.dtis{position:relative;width:50px;height:50px;z-index:200;display:block;left:0px;top:0px;}
.dtis_bg{position:absolute;width:50px;height:50px;min-height:50px;background-color:#4c4c4c;left:0px;top:0px;}
.dtis_icon{position:absolute;width:50px;height:50px;z-index:100;left:0px;top:0px;}
.dtis_icon_status_up{position:absolute;width:50px;height:50px;z-index:101;left:0px;top:0px;}
.dtis_icon_status_down{position:absolute;width:50px;height:50px;z-index:99;left:0px;top:0px;}
.pill{position:relative;width:200px;height:30px;z-index:200;background-color:#4c4c4c;display:block;left:0px;top:0px;float:left;}
.pill_color{position:absolute;top:6px;height:20px;z-index:210;}
.pill_number{position:absolute;top:10px;height:20px;text-align:center;font-style:normal;font-weight:400;font-size:10px;text-shadow:#000000 0 0 2px;color:#eeeeee;font-family:Arial;z-index:212;margin:0;}
.pill_panell{position:absolute;height:30px;z-index:211;width:15px;left:0px;}
.pill_panelc{position:absolute;height:30px;z-index:211;width:170px;left:15px;}
.pill_panelr{position:absolute;height:30px;z-index:211;width:15px;left:185px;}
.filtersPopupMenu{position:absolute;visibility:hidden;background-color:#F5F7F8;height:400px;width:280px;overflow:auto;font-size:10px;}
.filtersTA{width:200px;height:52px;background-color:#5B9BD5;border:1px solid #4c4c4c;font-size:10px;overflow:auto;font-family:Arial;}
.filtersLBL{font-size:12px;color: #ffffff;}
.filtersLink{ text-decoration: underline;color: #ffffff;text-align: right;margin-left: 40px;}
.filtersCNT{font-size:12px;color:#ffffff;}
.filtersMainLBL{font-size:12px;color:#ffffff;margin-left: 26px;}
.filtersTAi{vertical-align:top;display:inline-block;border:0;padding-top:2px;}
.filtersWatermarked {color: #656565;background-color: #5B9BD5;border: 1px solid #4c4c4c; font-size: 12px;}
.filtersCHKL td{height:20px;}
.filtersCHKL span{width:604px;display:inline-block;padding-left:5px;}
.filtersCHKLS{background-image:url(../IMG/interfaccia/Start.png);height:16px;width:16px;background-repeat:no-repeat;vertical-align:top;border:0;margin-left:4px;margin-right:2px;cursor:pointer;}
.filtersCHKLD{background-image:url(../IMG/interfaccia/Trash.png);height:16px;width:16px;background-repeat:no-repeat;vertical-align:top;border:0;margin-left:20px;margin-right:2px;cursor:pointer;}
.filtersCHKS{padding-left:3px;padding-right: 3px}
.filtersCHKSI{float:left;}
.filtersHR{border:1px solid #f4f4f4;width:1195px;border-collapse:collapse;}
.filtersDev{font-size:12px;border-collapse: collapse;border-spacing:0;margin:auto;margin-top:20px;margin-bottom:20px;}
.filtersDevTh{border:1px dashed #f4f4f4;border-bottom:3px solid #f4f4f4;height:35px;}
.filtersDevTh, .filtersDevTh a:link, .filtersDevTh a:visited, .filtersDevTh a:hover, .filtersDevTh a:active{font-size:12px;color:#ffffff;text-align:center;background-color:#000000;font-weight:bold;text-decoration:none}
.filtersDevTh a:hover{text-decoration:underline}
.filtersDevTd{font-size:12px;color:#ffffff;background-color:#4c4c4c;border:1px dashed #f4f4f4;height:55px;}
.filterImg{float:left;padding-top:8px;padding-left:12px;}
.filtersDevDet{border-collapse:collapse;border-spacing:0;margin:auto;margin-top:50px;margin-bottom:20px;margin-left:62px;}
.filtersDevDetTh{color:#f4f4f4;text-align:center;font-weight:bold;height:35px;background-color:#4c4c4c;border:1px dashed #f4f4f4;font-size:12px;}
.filtersDevDetTd{color:#ffffff;text-align:center;height:35px;background-color:#4c4c4c;border:1px dashed #f4f4f4;font-size:11px;}
.filtersCHKLD{background-image:url(../IMG/interfaccia/Trash.png);height:16px;width:16px;background-repeat:no-repeat;vertical-align:top;border:0;margin-left:20px;margin-right:2px;cursor:pointer;}
.filtersSB{background-color:#4c4c4c;background-image:url(../IMG/interfaccia/Stats2.png);height:32px;width:32px;background-repeat:no-repeat;vertical-align:top;border:0;margin:2px;cursor:pointer;}
.filtersSFHn{border:#4c4c4c 1px solid;padding:2px;margin:5px;width:950px;height:500px;background-color:#4c4c4c;}
.filtersSFHu{background-image:url(../IMG/GrisLoading.gif);background-repeat:no-repeat;background-position:center;border:#4c4c4c 1px solid;padding:2px;margin:5px;width:950px;height:500px;text-align:center;background-color:#4c4c4c;}
.filtersSFHc{height:32px;width:32px;border:0;margin-top:-10px;margin-right:-10px;cursor:pointer;}
.filtersSFHd1{width:940px;}
.filtersSFHt1{width:940px;border:#ffffff 2px solid;font-size:12px;border-collapse:collapse;border-bottom:none;}
.filtersSFHt1h{background-color:#595959;color:#ffffff;padding:5px;height:20px;border:#ffffff 2px solid;text-align:left;}
.filtersSFHt1c1{width:140px;background-color:#ffc000;color:#000000;text-align:center;padding:5px;height:15px;border:#ffffff 2px solid;border-bottom:none;}
.filtersSFHt1c2{width:140px;background-color:#ffc000;color:#000;text-align:center;padding:5px;height:15px;border:#fff 2px solid;border-bottom:none;}
.filtersSFHt1c3{width:520px;background-color:#ffc000;color:#000;text-align:center;padding:5px;height:15px;border:#fff 2px solid;border-bottom:none;}
.filtersSFHt1c4{width:140px;background-color:#ffc000;color:#000;text-align:center;padding:5px;height:15px;border:#fff 2px solid;border-bottom:none;}
.filtersSFHt1nd{width:940px;border:#ffffff 2px solid;font-size:12px;border-collapse:collapse;}
.filtersSFHd2{width:940px;height:400px;overflow-y:auto;overflow-x:hidden;}
.filtersSFHt2{width:940px;border:#ffffff 2px solid;font-size:12px;font-weight:normal;border-collapse:collapse;}
.filtersSFHt2c1{width:140px;background-color:#999;color:#000;padding:5px;border:#fff 2px solid;text-align:center}
.filtersSFHt2c2{width:140px;background-color:#ccc;color:#000;padding:5px;border:#fff 2px solid;text-align:center}
.filtersSFHt2c3{width:520px;background-color:#999;color:#000;padding:5px;border: #fff 2px solid;text-align:left;}
.filtersSFHt2c4{width:140px;background-color:#ccc;color:#000;padding:5px;border:#fff 2px solid;text-align:center;}
.filtersDHt1c1{width:140px;background-color:#ffc000;color:#000000;text-align:center;padding:5px;height:15px;border:#ffffff 2px solid;border-bottom:none;}
.filtersDHt1c2{width:660px;background-color:#ffc000;color:#000;text-align:center;padding:5px;height:15px;border:#fff 2px solid;border-bottom:none;}
.filtersDHt1c3{width:140px;background-color:#ffc000;color:#000;text-align:center;padding:5px;height:15px;border:#fff 2px solid;border-bottom:none;}
.filtersDHt2c1{width:140px;background-color:#999;color:#000;padding:5px;border:#fff 2px solid;text-align:center}
.filtersDHt2c2{width:660px;background-color:#ccc;color:#000;padding:5px;border:#fff 2px solid;text-align:center}
.filtersDHt2c3{width:140px;background-color:#999;color:#000;padding:5px;border: #fff 2px solid;text-align:center;}
.collapsePanel{background-color:#4c4c4c;overflow:hidden}
.collapsePanelHeader{width:100%;height:30px;color:#FFF;font-weight:bold;background-color:#808080;}
