﻿body
{
	background-color: Black;
}

.user_logged
{
	color: white;
	font-family: Arial;
	font-size: 9pt;
}


/* header */
.head_sx
{
	background-image: url(../Images/head_sx.gif);
	background-repeat: no-repeat;
	height: 100px;
	width: 8px;
}
.head_bg
{
	background-image: url(../Images/head_bg.gif);
	background-repeat: repeat-x;
	height: 100px;
}
.head_dx
{
	background-image: url(../Images/head_dx.gif);
	background-repeat: no-repeat;
	height: 100px;
	width: 8px;
}


/* navigator */
.nav_bg
{
	background-image: url(../Images/nav_bg.gif);
	background-repeat: repeat-x;
	height: 30px;
}
.nav_bgActive
{
	background-image: url(../Images/nav_bg_active.gif);
	background-repeat: repeat-x;
	height: 30px;
}
.nav_sep
{
	background-image: url(../Images/nav_sep.gif);
	background-repeat: no-repeat;
	height: 30px;
}
.nav_shadow_bg
{
	background-image: url(../Images/nav_shadow_bg.gif);
	background-repeat: repeat-x;
	height: 20px;
	vertical-align: top;
}
.box_ricerca
{
	margin-top: 5px;
	background-color: Transparent;
	border-style: none;
}
.box_ricerca_btn
{
	cursor: pointer;
	background-color: Transparent;
	border-style: none;
}

.MenuItemBackground
{
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

.MenuItem
{
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #4c4c4c;
}

.MenuItem:hover
{
	color: White; /* #0885cc */
}

.MenuItemSelectedBackground
{
	background-image: url(../Images/nav_bg_active.gif);
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

.MenuItemSelected
{
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: White; /*background-color: #4d4d4d;*/
}

/* Panel */
.panel_bg
{
	background-color: #4c4c4c;
	vertical-align: top;
}
.panel_bg_sx
{
	background-color: #4c4c4c;
	vertical-align: top;
	width: 250px;
}
.panel_bg_dx
{
	background-color: #4c4c4c;
	vertical-align: top;
	width: 530px;
}

.box_bg
{
	background-color: #3f3f3f;
}

.lblBox
{
	font-family: Arial;
	color: Black;
	text-align: center;
	font-weight: bold;
}


/* foot */
.Footer
{
	background-image: url(../Images/foot_bg.gif);
	font-weight: bold;
	color: Black;
	font-family: Arial;
	font-size: 12px;
	background-repeat: repeat-x;
}
.foot_sx
{
	background-image: url(../Images/foot_sx.gif);
	background-repeat: no-repeat;
	height: 21px;
	width: 8px;
}
.foot_bg
{
	background-image: url(../Images/foot_bg.gif);
	background-repeat: repeat-x;
	height: 21px;
	width: 784px;
	font-size: 8pt;
	color: white;
	font-family: Arial;
}
.foot_dx
{
	background-image: url(../Images/foot_dx.gif);
	background-repeat: no-repeat;
	height: 21px;
	width: 8px;
}

.GridViewButton
{
	color: #a8a8a8;
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
}
.GridViewButton:hover
{
	color: #0885cc;
}
.GridViewRow
{
	color: #a8a8a8;
	font-family: Arial;
	font-size: 10pt;
}

.FasciaTop
{
	background-color: #3f3f3f;
	font-size: xx-large;
	color: red;
	font-family: Arial;
	height: 200px;
	text-decoration: none;
	border-bottom: #4c4c4c thin solid;
}

.FasciaBottom
{
	background-color: #3f3f3f;
	font-size: small;
	color: black;
	font-family: Arial;
	height: 50px;
}

/* FormDettaglio */
.FormDettaglioFooter
{
	color: white;
	background-color: Transparent;
	font-family: Arial;
	font-size: 12pt;
	text-align: center;
	border-top: #4c4c4c thin solid;
	border-right-style: none;
	border-left-style: none;
	border-bottom: #4c4c4c thin solid;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
}
.FormDettaglioHeader
{
	color: white;
	background-color: Transparent;
	font-family: Arial;
	font-size: 14pt;
	text-align: center;
	border-top: #4c4c4c thin solid;
	border-right-style: none;
	border-left-style: none;
	border-bottom: none;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
}
.FormDettaglioRiga
{
	padding-bottom: 3px;
	padding-top: 3px;
}

.colonnaEtichetta
{
	color: silver;
	background-color: Transparent;
	font-family: Arial;
	width: 120px;
	font-size: 10pt;
}
.colonnaDato
{
	color: White;
	background-color: Transparent;
	font-family: Arial;
	font-size: 12pt;
}
.OfflineStyle
{
	color: Red;
	font-family: Arial;
	font-size: 14pt;
	margin-right: 5px;
}

.collapsePanelHeader
{
	color: silver;
	font-family: Arial;
	font-size: 10pt;
	cursor: pointer;
}
.collapsePanelHeader:hover
{
	color: White;
}

.collapsePanelHeaderValue
{
	color: #0885cc;
	text-align: right;
	font-size: 10pt;
}
.collapsePanel
{
	margin-left: 10px;
	color: silver;
	background-color: Black;
	font-family: Arial;
	font-size: 10;
}

.avviso
{
	color: #ffcc66;
}
.errore
{
	color: Red;
}

.btn_espansione
{
	margin-top: 20px;
	padding-top: 4px;
	border-top: #4c4c4c thin solid;
	text-align: right;
}

.RicercaNoData
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: silver;
	font-family: Arial;
	font-size: 12;
}

.DivValue
{
	vertical-align: top;
	text-align: left;
	float: right;
	width:100%;
}

.lblNoData
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: silver;
	font-family: Arial;
	font-size: 12;
	text-align: center;
}

.Middle
{
	background-color: #4c4c4c; /*padding-bottom: 5px;*/
}

/* Reports */

.Toolbar, .ToolbarButtonToggleOff, .ToolbarButtonToggleOn, .ToolbarTitle
{
	background-image: url(../Images/nav_bg.gif);
	height: 30px;
	background-repeat: repeat-x;
}

.ToolbarButton
{
	color: White;
	border-style: none;
	background-color: Transparent;
}

.ToolbarButtonToggleOff, .ToolbarButtonToggleOn
{
	width: 200px;
	text-align: center;
	color: White;
	border-right: solid 1px black;
}

.ToolbarButtonToggleOn
{
	background-image: url(../Images/riepilogo_bg.gif);
	background-repeat: repeat-x;
}

.ToolbarTitle
{
	text-align: center;
	color: Black;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
}

.SubToolbar
{
	background-image: url(../Images/nav_shadow_bg.gif);
	height: 21px;
	background-repeat: repeat-x;
}

.ReportListHeader
{
	background-image: url(../Images/perif_top.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 340px;
	background-color: #808080;
	font-family: Arial;
	text-align: left;
	color: White;
	font-weight: bold;
}

.ReportListFooter
{
	background-image: url(../Images/perif_bot.gif);
	width: 340px;
	background-repeat: no-repeat;
	height: 25px;
}

.ReportListSubHeader
{
	background-image: url(../Images/riepilogo_bg.gif);
	padding: 5px;
	background-repeat: repeat-x;
	font-family: Arial;
	text-align: left;
	color: #808080;
}

.ReportListLinks
{
	width: 100%;
	font-family: Arial;
	text-align: left;
	color: white;
	padding: 7px;
	background-color: #808080;
}

.ReportListLink
{
	color: white;
	text-decoration: none;
}

.ReportViewerStyle
{
	padding: 5px;
}

.CellBottomLine
{
	border-bottom: solid 1px #4c4c4c;
}

/* files upload */
#divUploader
{
	margin-top: 30px;
}

.wrapper
{
	width: 133px;
	margin: 0 auto;
}

div.updButton
{
	height: 29px;
	width: 133px;
	background: url(../Images/uploadButton.png) 0 0;
	font-size: 14px;
	color: #a8a8a8;
	text-align: center;
	padding-top: 15px;
}

div.updButton.hover
{
	background: url(../Images/uploadButton.png) 0 56px;
	color: #a8a8a8;
}

.UploadedFileName
{
	margin-left: 5px;
	color: #a8a8a8;
}

.cboCulture 
{
    font-family: Arial;
    font-size: 8pt;
    color: #000000;
    border: 0px;
    width: 100px;
    margin: 0px;
    background-color: #d2d2d2;
}