<%@ Page Language="C#" MasterPageFile="~/Admin/AdminMasterPage.master" AutoEventWireup="true" CodeFile="AdminMain.aspx.cs" Inherits="Admin_AdminMain" Title="Untitled Page" %>
<asp:Content ID="cntFunctionArea" ContentPlaceHolderID="cphFunctionArea" Runat="Server">
</asp:Content>

