<%@ master language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" codefile="ReportsMasterPage.master.cs" inherits="ReportsMasterPage" %>

<asp:content id="cntReports" contentplaceholderid="cphMainArea" runat="Server">
	<table border="0" cellpadding="0" cellspacing="0" style="width: 800px; text-align: center">
		<tr>
			<td align="left">
				<table border="0" cellpadding="0" cellspacing="0" style="height: 100%; width: 100%">
					<tr>
						<td id="tdSelectReport" runat="server" class="ToolbarButtonToggleOn">
							<asp:button id="btnSelectReport" runat="server" text="SELEZIONA REPORT" cssclass="ToolbarButton"
								onclick="btnSelectReport_Click" meta:resourcekey="btnSelectReport" />
						</td>
						<td id="tdReportOptions" runat="server" class="ToolbarButtonToggleOff">
							<asp:button id="btnReportOptions" runat="server" text="OPZIONI REPORT" cssclass="ToolbarButton"
								onclick="btnReportOptions_Click" enabled="False" meta:resourcekey="btnReportOptions" />
						</td>
						<td class="ToolbarTitle">
							<asp:label id="lblReportTitle" runat="server"></asp:label>
						</td>
					</tr>
					<tr>
						<td class="SubToolbar" colspan="3">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="width: 100%;">
				<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
					<tr>
						<!-- td contenente l'accordion control con la lista dei reports -->
						<td rowspan="2" id="tdReportList" style="width: 340px; vertical-align: top; padding: 5px;"
							runat="server">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td class="ReportListHeader">
										<span style="padding-left: 5px;">
											<asp:localize id="locAvReports" runat="server" text="Report Disponibili" meta:resourcekey="locAvReports"></asp:localize></span>
									</td>
								</tr>
								<tr>
									<td>
										<ajaxtoolkit:accordion id="accReportList" runat="server" onitemcommand="ReportLink_Command"
											width="340px" framespersecond="30" transitionduration="250">
											<panes>
												<ajaxtoolkit:accordionpane id="acpanGeneral" runat="server">
													<header>
														<table cellpadding="0" cellspacing="0" style="width: 100%;">
															<tr>
																<td class="ReportListSubHeader" onmouseover="this.style.cursor = 'hand';">
																	<asp:localize id="locGeneralGroup" runat="server" text="REPORT GENERALI" meta:resourcekey="locGeneralGroup"></asp:localize>
																</td>
															</tr>
														</table>
													</header>
													<content>
														<table cellpadding="0" cellspacing="0" class="ReportListLinks">
															<tr>
																<td>
																	<asp:linkbutton id="lnkbConfigurationInUse" runat="Server" text="Configurazione in uso"
																		cssclass="ReportListLink" commandname="SystemConfigurationInUse" meta:resourcekey="lnkbConfigurationInUse"></asp:linkbutton>
																</td>
															</tr>
															<tr>
																<td>
																	<asp:linkbutton id="lnkbValidatedConfiguration" runat="Server" text="Configurazione Validata"
																		cssclass="ReportListLink" commandname="SystemConfigurationValidated" visible="false" meta:resourcekey="lnkbValidatedConfiguration"></asp:linkbutton>
																</td>
															</tr>
															<tr>
																<td>
																	<asp:linkbutton id="lnkbDevices" runat="Server" text="<%$ Resources:GrismResources, DeviceListTitle %>" cssclass="ReportListLink"
																		commandname="Devices"></asp:linkbutton>
																</td>
															</tr>
															<tr>
																<td>
																	<asp:linkbutton id="lnkbStationStatus" runat="Server" text="Stato Stazione" cssclass="ReportListLink"
																		commandname="StationStatus" meta:resourcekey="lnkbStationStatus"></asp:linkbutton>
																</td>
															</tr>
														</table>
													</content>
												</ajaxtoolkit:accordionpane>
											</panes>
										</ajaxtoolkit:accordion>
									</td>
								</tr>
								<tr>
									<td class="ReportListFooter">
									</td>
								</tr>
							</table>
						</td>
						<td id="tdReportFilters" runat="server" style="display: none; padding: 5px; vertical-align: top;">
							<table cellpadding="0" cellspacing="0" style="width: 98%; background-color: #808080;
								color: White;">
								<tr>
									<td style="text-align: left; vertical-align: top;">
										<asp:image id="imgTopSx" runat="server" imageurl="~/Images/opzioni_topsx.gif" height="20px"></asp:image>
									</td>
									<td style="background-image: url(../Images/opzioni_bg.gif); background-repeat: repeat-x; height: 30px; width: 100%;">
									</td>
									<td style="text-align: right; vertical-align: top;">
										<asp:image id="imgTopDx" runat="server" imageurl="~/Images/opzioni_topdx.gif" height="20px"></asp:image>
									</td>
								</tr>
								<tr>
									<td colspan="3" style="text-align: center;">
										<asp:contentplaceholder id="cphReportFilters" runat="server">
										</asp:contentplaceholder>
									</td>
								</tr>
								<tr>
									<td colspan="3" style="text-align: right; padding: 5px; vertical-align: bottom;">
										<table cellpadding="0" cellspacing="0" style="width: 100%;">
											<tr>
												<td style="width: 97%;">
													<asp:imagebutton id="imgbAdvancedOptions" runat="server" imageurl="~/Images/opzioni_mostra.gif"
														onclick="imgbAdvancedOptions_Click" visible="False" tooltip="Opzioni Avanzate"
														meta:resourcekey="imgbAdvancedOptions"></asp:imagebutton>
													<asp:imagebutton id="btnGenerate" runat="server" imageurl="~/Images/en/generareport.gif"
														onclick="btnGenerate_Click" tooltip="Genera Report" meta:resourcekey="btnGenerate" />
												</td>
												<td style="width: 3%;">
													&nbsp;
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="background-image: url(../Images/opzioni_botsx.gif); background-repeat: repeat-x;
										height: 11px; width: 6px;">
									</td>
									<td style="background-image: url(../Images/opzioni_botbg.gif); background-repeat: repeat-x;
										height: 11px;">
									</td>
									<td style="background-image: url(../Images/opzioni_botdx.gif); background-repeat: repeat-x;
										height: 11px; width: 6px;">
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td id="tdReport" runat="server" style="display: none;">
							<asp:contentplaceholder id="cphReportBody" runat="server">
							</asp:contentplaceholder>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</asp:content>
