﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ErrorSimple.aspx.cs" Inherits="ErrorSimple" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-color: #4c4c4c; font-family: Arial">
    <form id="form1" runat="server">
    <div>
        <span style="color: #ffffff; font-weight: bold; font-size: larger; margin: 0px auto;">
            Errore Applicazione</span>
    </div>
    </form>
</body>
</html>
