<%@ Page Language="C#" MasterPageFile="~/ReportsMasterPage.master" AutoEventWireup="true" CodeFile="Reports.aspx.cs" Inherits="Reports" %>
<asp:Content ID="cntReportFilters" ContentPlaceHolderID="cphReportFilters" Runat="Server">
	<asp:scriptmanagerproxy id="smpMain" runat="server"></asp:scriptmanagerproxy>
</asp:Content>
<asp:Content ID="cntReportBody" ContentPlaceHolderID="cphReportBody" Runat="Server">
</asp:Content>

